name: TDR Run Tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@f52edf22c81f568202369a3b31da0277541b0507 # v.0.0.11
    with:
      repo-name: tdr-aws-utils
      test-command: |
        sbt test
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
