name: TDR Run Tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
jobs:
  test:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Run tests
        run: sbt test
