name: TDR Run Tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
jobs:
  test:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: sbt/setup-sbt@f20dc1bc1f8be605c44ffbcec6f17f708a4af9d1 # v1.1.12
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@e6c5d8399b84617bea5a6b9d99f84049385e2dbb # v0.0.4
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@e6c5d8399b84617bea5a6b9d99f84049385e2dbb # v0.0.4
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Run tests
        run: sbt test
